<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-app="Calculadora" ng-controller="calcController as vm">

<input type="text" ng-model="vm.dato1"> </br>
<input type="text" ng-model="vm.dato2"></br>

<input type="button" value="sumar" ng-click="vm.sumar()"/></br>
La suma es...{{vm.suma}}</br>
<input type="button" value="restar" ng-click="vm.restar()"/></br>
La resta es...{{vm.resta}}




<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="calculator.js"></script>

</body>
</html>